// General styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::selection{
        background: rgb(103, 234, 243);
        color: #fff;
    }
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size-adjust: 1rem;
    color: #fff;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

// structure

header{
    height: 40px;
    background: cornflowerblue;
    z-index: 10;
}

#section1{
    height: auto;
    background: springgreen;
}

#section2{
    height: auto;
    background: rgb(60, 175, 6);
}

#section3{
    height: auto;
    background: rgb(27, 205, 218);
}

#section4{
    height: auto;
    background: rgb(224, 34, 75);
}

#section5{
    height: auto;
    background: rgb(247, 117, 43);
}

#section6{
    height: auto;
    background: rgb(124, 100, 214);
    
}

footer{
    height: 50px;
    background: rgb(196, 69, 221);
}



// design

// general
.container{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 3em;
    text-align: center;
}
p.lead{
    font-size: 1.2rem;
    line-height: 1.5em;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    background: #b90415;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-family: cursive;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
}

    header{
        background: #333;
        width: 100%;
        position: fixed;
        ul{
            display: flex;
            align-items: center;
            height: 100%;
            li{
                padding: 0 20px;
                a{
                    color: rgb(212, 212, 212);
                    font-size: 0.9rem;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }

    #section1{
        background: url(images/sec1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .sec1-content{
            padding-top: 200px;
            // color: #fff;
            h1{
                font-size: 4rem;
                // font-weight: 900;
                font-family: sans-serif;
                margin-bottom: 50px;
            }
            h2{
                font-size: 2rem;
                margin-bottom: 40px;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }

    #section2{
        background: #252529;
        .section-head{
            font-size: 2.5rem;
            font-weight: 600;
            font-family: sans-serif;
            margin-bottom: 50px;
        }
        h3{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 40px;
        }
        h4{
            font-size: 0.9rem;
            font-weight: 100;
            margin-bottom: 30px;
        }
    }

    #section3{
        background: #f4f4f4;
        h2{
            color: #333;
            font-size: 2rem;
            margin-bottom: 50px;
        }
        p{
            color: #333;
        }
        .btn-secondary{
            background: #103063;
        }
        // img{
            
        // }
    }

    #section4{
        background: url(images/sec4.jpeg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        .sec4-content{
            padding-top: 200px;
            h2{
                font-size: 2rem;
                margin-bottom: 50px;
            }
        }
    }

    #section5{
        padding: 0% 6%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "imgDiv sec5-content";
        background: #f4f4f4;
        align-items: center;
        color: #333;

        .imgDiv{
            grid-area: imgDiv;
        }
        .sec5-content{
            grid-area: sec5-content;
        }

        h2{
            font-size: 1.5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-bottom: 30px;
        }
        p{
            font-size: 1rem;
            line-height: 1.5em;
            margin-bottom: 25px;
        }
        h4{
            font-weight: 300;
        }
        span{
            display: block;
            width: 100%;
            height: 2px;
            background: #333;
            margin: 15px 0;
        }
        a{
            color: #333;
        }
    }

    #section6{
        // padding: 0% 8%;
        background: #252529;
        display: grid;
        padding: 80px 0;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        ". a b c d .";

        .a{
            grid-area: a;
        }
        .b{
            grid-area: b;
        }
        .c{
            grid-area: c;
        }
        .d{
            grid-area: d;
        }

        h2{
            font-size: 1rem;
            color: #eee;
        }
        span{
            display: block;
            width: 90%;
            height: 2px;
            background: #333;
            margin: 15px 0;
        }
        a{
            display: block;
            font-size: 0.8rem;
            line-height: 1.5em;
            color: #eee;
        }
    }

    footer{
        background: #333333;
        h2{
            color: #eee;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            line-height: 50px;
        }
    }



// Media Queries

@media (max-width: 920px){
    #section5{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "imgDiv"
        "sec5-content";
    }

    #section6{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas:
        ". a b ."
        ". c d .";
    }
}